python==3.9.*
cmake
ipython
pybind11
pytorch
pytorch-cuda==11.8
pytorch3d
torchvision
torchaudio
pyg
ninja
pytorch-cluster
pytorch-scatter
numpy
scipy==1.10.1
sentencepiece==0.1.99
hydra-core
pandas==2.0.3
opencv-python
openai-clip
timm
matplotlib==3.7.2
imageio
open3d
numpy-quaternion
more-itertools
pyliblzfse
einops
transformers
sentence-transformers
pytorch-lightning
wget
gdown
torch-geometric
tqdm
zmq
git+https://github.com/NVIDIA/MinkowskiEngine
protobuf==3.19.0
git+https://github.com/luca-medeiros/lang-segment-anything.git
